.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  align-items: space-between;
}

.trybewarts-login {
  display: flex;
  height: 20px;
}

.trybewarts-login input {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
  align-content: space-evenly;
}

#trybewarts-forms-logo {
  display: flex;
  justify-content: flex-end;
  height: 500px;
}

#evaluation-form input , select {
  padding: 10px;
}

#label-family {
  display: flex;
  flex-direction: column;
}

.form-data {
  display: none;
}
